$user_container_background_color : aliceblue;
$user_container_main_color: 'gray';
.user{
  grid-column: 2 / 3;
  grid-area: user-info;
  background-color: $user_container_background_color;
  padding-top: 8%;
  border-radius: .3125rem;
  box-shadow: 0 .375rem .75rem rgba(0,0,0,.2);
}
.user__img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.user__name a{
  color: $user_container_main_color - 100;
  text-decoration: none;
}
.user__name a:hover{
  color: $user_container_main_color - 50;
}
.user__bio{
  color: $user_container_main_color;
}
.user_links{
  margin-bottom: 70px;
}
.user_links .icons_images{
  width: 60px;
  height: 60px;
  margin-left: 4%;
}
@media (max-width: 600px) {
  .user{
    grid-column:auto;
    grid-area: user-info;
    background-color: $user_container_background_color;
    padding-top: 4%;
  }
  .user_links .icons_images{
    width: 30px;
    height: 30px;
    margin-left: 4%;
  }
  .user__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .user_links{
    margin-bottom: 20px;
  }
}
